body {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

header {
  width: 50%;
  margin: 1rem auto;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--font-size-base) * 0.75);
  margin: 0 1.5rem 1rem 1.5rem;
}

footer div {
  display: flex;
}

footer span {
  width: 18px;
  height: 18px;
  background-color: var(--color-neutral-dark);
  transition: background-color 0.15s ease-in-out;
}

#github {
  -webkit-mask: url('../../assets/footer/github.svg') no-repeat center;
  mask: url('../../assets/footer/github.svg') no-repeat center;
}

#mastodon {
  -webkit-mask: url('../../assets/footer/mastodon.svg') no-repeat center;
  mask: url('../../assets/footer/mastodon.svg') no-repeat center;
}

#discord {
  -webkit-mask: url('../../assets/footer/discord.svg') no-repeat center;
  mask: url('../../assets/footer/discord.svg') no-repeat center;
}

#logout {
  background-color: var(--color-primary);
  -webkit-mask: url('../../assets/footer/logout.svg') no-repeat center;
  mask: url('../../assets/footer/logout.svg') no-repeat center;
}

footer a {
  display: flex;
  align-items: center;
  color: var(--color-neutral-dark);
  gap: 0.5rem;
}

footer p {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  transition: color 0.15s ease-in-out;
  cursor: pointer;
  gap: 0.5rem;
}

footer a:hover {
  color: var(--color-neutral-darker);
}

footer a:hover span {
  background-color: var(--color-neutral-darker);
}

footer p:hover {
  color: var(--color-primary-dark);
}

footer p:hover #logout {
  background-color: var(--color-primary-dark);
}
