server
bun.lockb
package-lock.json
monero.worker.js
pnpm-lock.yaml
*.lock

ShadowSelf-Chromium.zip
ShadowSelf-Firefox.zip
db_backup.sql.gz
db_backup.sql

Thumbs.db
.DS_Store
.dccache
.output

build
cache_wallet
node_modules
.onion_keys
.svelte-kit
.easy-pki
.certs
.env
