server
bun.lockb
package-lock.json
pnpm-lock.yaml
*.lock

ShadowSelf-Chromium.zip
ShadowSelf-Firefox.zip
db_backup.sql.gz
db_backup.sql

Thumbs.db
.DS_Store
.dccache
.output

build
node_modules
.svelte-kit
.easy-pki
.certs
.env
