server
proxy

bun.lockb
package-lock.json
pnpm-lock.yaml
*.lock

ShadowSelf-Chromium.zip
ShadowSelf-Firefox.zip
backup-db-*.zip

Thumbs.db
.DS_Store
.dccache
.output

build
cache_wallet
node_modules
.onion_keys
.svelte-kit
.easy-pki
.certs
.env
