@keyframes scroll {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 9600px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 25px;
  row-gap: 15px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5) inset;
  background-image: url('../../assets/background.webp');
  background-size: 100% 100%;
  background-size: auto 100%;
  background-repeat: repeat;
  background-position: center center;
  animation: scroll 360s linear infinite;
}

main img {
  width: 65%;
}

main button {
  margin-top: 20px;
  margin-bottom: 5px;
}
