@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply no-scrollbar overflow-x-hidden scroll-smooth bg-neutral-900 font-sans text-neutral-300 antialiased;
  }

  button {
    @apply cursor-pointer rounded-md px-4 py-3 text-xl text-neutral-300 transition-all;
    @apply bg-size-200 bg-pos-0 hover:bg-pos-100 from-primary-800 to-primary-700 bg-gradient-to-t;
    @apply shadow-primary-900 hover:shadow-primary-950 shadow-lg transition-all duration-300;
  }

  button.alt {
    @apply text-primary-600 hover:text-primary-700 bg-none shadow-none;
  }

  p {
    @apply truncate whitespace-normal text-pretty text-xl font-normal leading-loose antialiased;
  }

  a {
    @apply text-primary-700 hover:text-primary-800 cursor-pointer transition-colors duration-300;
  }

  header a,
  a.alt {
    @apply text-neutral-400 no-underline transition-colors duration-300 hover:text-neutral-100;
  }

  h1,
  h2 {
    @apply primary-style z-10 text-7xl font-medium !leading-tight;
  }

  input,
  textarea {
    @apply rounded-xl border p-4 !outline-none placeholder:text-neutral-700;
  }
}

@layer components {
  .primary-style {
    @apply from-primary-700 to-primary-800 bg-gradient-to-br bg-clip-text text-transparent;
  }

  .card {
    @apply rounded-2xl bg-gradient-to-br from-[#0d1526] to-[#0a0f1c] transition-all duration-500 ease-in-out;
    @apply shadow-primary-900/[0.5] hover:shadow-8xl hover:shadow-primary-900/[0.3] shadow-2xl;
  }

  .small-icon {
    @apply h-8 w-8 fill-current outline-none transition-all duration-500;
  }

  .image-shadow {
    @apply drop-shadow-[5px_5px_15px_rgba(148,163,184,0.10)] hover:drop-shadow-[10px_15px_25px_rgba(148,163,184,0.15)];
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
